<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group"><!-- wp:pattern {"slug":"zozomakusa/ouverture"} /-->

<!-- wp:pattern {"slug":"zozomakusa/occasions"} /-->

<!-- wp:pattern {"slug":"zozomakusa/formules"} /-->

<!-- wp:pattern {"slug":"zozomakusa/deroule"} /-->

<!-- wp:pattern {"slug":"zozomakusa/sur-nos-tables"} /-->

<!-- wp:pattern {"slug":"zozomakusa/appel-whatsapp"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
